[mysqld]

port=3306
bind_address=0.0.0.0
skip-external-locking
skip-name-resolve
key_buffer_size = 16M
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
performance_schema=OFF

server-id=1933884124

#ssl-ca=/home/orcas/ca.pem
#ssl-cert=/home/orcas/cert.pem
#ssl-key=/home/orcas/key.pem

relay_log_recovery = 1
relay-log-info-repository = table
master-info-repository = table
sync_relay_log_info = 1
sync_relay_log = 1
sync_master_info = 1
max_relay_log_size = 10485760000
replicate-wild-ignore-table = mysql.%

log_slave_updates = ON
binlog_format = Row
sync_binlog = 1
binlog-checksum = CRC32
binlog_row_image = minimal
max_binlog_size = 10485760000

innodb_file_per_table = ON
innodb_doublewrite = 0
#myisam_enabled = OFF
#firewall_rule_enabled = OFF

innodb_buffer_pool_size=32768M
innodb_log_file_size=536870912
default-storage-engine=INNODB

log_bin_index=mysql-bin
event_scheduler=OFF
div_precision_increment=4
group_concat_max_len=1024
innodb_adaptive_hash_index=ON
innodb_lock_wait_timeout=50
interactive_timeout=1800
log_queries_not_using_indexes=OFF
log_throttle_queries_not_using_indexes=0
log_slow_admin_statements=OFF
log_slow_slave_statements=OFF
log_bin_trust_function_creators=OFF
long_query_time=10
log_output=FILE
min_examined_row_limit=0
slow_query_log=OFF
slow_query_log_file=mysql-slow.log
general_log =OFF
general_log_file=mysql-general.log
sql_mode=
wait_timeout=120
read_only=OFF
max_allowed_packet=536870912
skip-slave-start=TRUE
slave_net_timeout=60
default-time-zone=SYSTEM

innodb_flush_neighbors=0
#nonblocking_socket_enabled=ON
innodb_io_capacity=10000
innodb_io_capacity_max=10000

#innodb_page_cleaners=8
#innodb_read_io_threads=4
#innodb_buffer_pool_instances=16
innodb_buffer_pool_load_at_startup=OFF
innodb_buffer_pool_dump_at_shutdown=OFF
table_open_cache=20000
innodb_autoinc_lock_mode=2

max_prepared_stmt_count=65535

max_connections=50000

datadir=/Users/youji/Documents/code/mysql-server/yoj/data
innodb_undo_directory=/Users/youji/Documents/code/mysql-server/yoj/data/undo
log_bin=/Users/youji/Documents/code/mysql-server/yoj/bins/binlog
tmpdir=/Users/youji/Documents/code/mysql-server/yoj/bins/tmp
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0

core-file
lower_case_table_names=1
