[mysqld]

verlaine_enabled=2
port=3306
bind_address=0.0.0.0
skip-external-locking
skip-name-resolve
key_buffer_size = 16M
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
performance_schema=OFF

server-id=1933884124

#ssl-ca=/home/orcas/ca.pem
#ssl-cert=/home/orcas/cert.pem
#ssl-key=/home/orcas/key.pem

relay_log_recovery = 1
relay-log-info-repository = table
master-info-repository = table
sync_relay_log_info = 1
sync_relay_log = 1
sync_master_info = 1
max_relay_log_size = 10485760000
replicate-wild-ignore-table = mysql.%

log_slave_updates = ON
binlog_format = Row
sync_binlog = 1
binlog-checksum = CRC32
binlog_row_image = minimal
max_binlog_size = 10485760000

innodb_file_per_table = ON
innodb_doublewrite = 0
#myisam_enabled = OFF
#firewall_rule_enabled = OFF

innodb_buffer_pool_size=32768M
innodb_log_file_size=536870912
default-storage-engine=INNODB

log_bin_index=mysql-bin
event_scheduler=OFF
div_precision_increment=4
group_concat_max_len=1024
innodb_adaptive_hash_index=ON
innodb_lock_wait_timeout=50
interactive_timeout=1800
log_queries_not_using_indexes=OFF
log_throttle_queries_not_using_indexes=0
log_slow_admin_statements=OFF
log_slow_slave_statements=OFF
log_bin_trust_function_creators=OFF
long_query_time=10
log_output=FILE
min_examined_row_limit=0
slow_query_log=OFF
slow_query_log_file=mysql-slow.log
general_log =OFF
general_log_file=mysql-general.log
sql_mode=
wait_timeout=120
read_only=OFF
max_allowed_packet=536870912
skip-slave-start=TRUE
slave_net_timeout=60
default-time-zone=SYSTEM

innodb_flush_neighbors=0
#nonblocking_socket_enabled=ON
innodb_io_capacity=10000
innodb_io_capacity_max=10000

#innodb_page_cleaners=8
#innodb_read_io_threads=4
#innodb_buffer_pool_instances=16
innodb_buffer_pool_load_at_startup=OFF
innodb_buffer_pool_dump_at_shutdown=OFF
table_open_cache=20000
innodb_autoinc_lock_mode=2

#innodb_sync_log_slots=1

#innodb_write_io_threads=4
innodb_aio_write_slots=32

max_prepared_stmt_count=65535

max_connections=50000

#innodb_flush_method=O_DIRECT
innodb_use_native_aio=ON

innodb_verlaine_enabled=ON

mountdir=/mnt/yoj-m7
datadir=/mnt/yoj-m7/data5
innodb_undo_directory=/mnt/yoj-m7/data5/undo
log_bin=/mnt/yoj-m7/bins/binlog
tmpdir=/mnt/yoj-m7/bins/tmp
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0

core-file

#accept_thread_priority=2
#innodb_chunk_write_enabled=ON
#innodb_chunk_read_enabled=ON
#innodb_fast0ext_enabled=ON
binlog_thd_synclock_enabled=ON
innodb_delay_datasync=ON
innodb_delay_logwrite=ON
innodb_aggressive_pc=ON
#innodb_log_wrlock_retrymax=32
#innodb_dpage_backpressure=ON
innodb_io_capacity_calibrate=2
innodb_io_capacity_calibceil=102400
innodb_force_pacing=ON
innodb_avoid_logwrite=ON
#innodb_inflight_syncio=64
#innodb_sync_log_slots=1
#innodb_aio_write_slots=40
innodb_page_cleaner_priority=4
binlog_index_doublewrite=ON
#innodb_filesize_update_interval=30
innodb_write_io_threads_enforced=2
innodb_read_io_threads_enforced=1
innodb_page_cleaners_enforced=3
innodb_use_enforced=ON
list_dir_files_name_only=ON
innodb_list_dir_files_name_only=ON
#frm_type_from_tdc=ON
#dir_cache_enabled=ON
#innodb_diskfull_wa_enabled=ON
#innodb_ignore_fsctl_set_sparse=ON
#innodb_ignore_fsctl_set_zero_data=ON
#file_close_and_delete_enabled=ON
#file_close_async_enabled=ON
innodb_dynamic_page_cleaners=ON

#innodb_log_write_max_size=16777216
#innodb_log_recent_written_size=33554432

innodb_verlaine_persist_lease=OFF

verlaine_USE_HTTP_IO_FOR_READ=1
verlaine_USE_HTTP_IO_FOR_WRITE=1
verlaine_HTTP_THREAD_PER_POOL=2
verlaine_HTTP_CONNECTION_PER_CLIENT=270

# innodb_logwr_prio_checkpoint=2

lower_case_table_names=1

vfs_log_level=30

binlog_cache_size=2097152
# rpl_read_size=2097152
binlog_io_cache_size=2097152

innodb_read_io_threads_enforced=1
innodb_write_io_threads_enforced=1
innodb_aio_write_slots=128
innodb_aio_read_slots=64
innodb_aio_log_slots=32
